/* 存放公共样式。如清楚默认样式 */
html,body,div,img,ul,li,h2,p,span,template {
	padding: 0px;
	margin: 0px;
}
html {
	font-size: 20px;
	background: #f3f3f3;
	font-family: "微软雅黑"；
}
li {
	list-style: none;
}
.clearfix:after{
	content: "";
	display: table;
	clear: both;
}
.clearfix {
	*zoom: 1;
}
@media screen and (max-width: 320px) {
	html {
		font-size: 20px;
	}
}
@media screen and (min-width: 360px) {
	html {
		font-size: 22.5px;
	}
}
@media screen and (min-width: 412px) {
	html {
		font-size: 25.75px;
	}
}
@media screen and (min-width: 375px) {
	html {
		font-size: 23.44px;
	}
}
@media screen and (min-width: 412px) {
	html {
		font-size: 25.75px;
	}
	#app {
		width: 412px;
	}
}
@media screen and (min-width: 768px) {
	html {
		font-size: 48px;
	}
}
#nav {
        width: 16rem;
        height: 2.5rem;
        background: #00a2ea;
        flex: 1;
        position: relative;
}
.nav_mine_log {
    width: 0.9rem;
    height: 0.6rem;
    position: absolute;
    top: 0.9rem;
    left: 0.9rem;
}
.nav_home_log {
    font-size: 0.7rem;
    line-height: 0.7rem;
    color: #fff;
    position: absolute;
    left: 3rem;
    top: 0.9rem;
}
#news {
    width: 16rem;
    position: relative;
    top: 0rem;
    left: 0rem;
    background: #f3f3f3;
}
.hot-content {
    font-size: 0.58rem;
    line-height: 0.58rem;
    position: absolute;
    top: 0.85rem;
    left: 0.74rem;
    color: #6f6f6f;
}
#news ul {
    position: absolute;
    top: 3.34rem;
    left: -0.5rem;
    right: 0rem;
}
.list {
    background: #fafafa;
    width: 14.73rem;
    height: 4.4rem;
    border: 1px solid #e7e7e7;
    border-radius: 5%;
    font-size: 0.74rem;
    line-height: 0.95rem;
    padding-top: 0.76rem;
    padding-left: 0.33rem;
    margin-bottom: 0.34rem;
}
.list p {
    width: 9.73rem;
    float: left;
}
.list img {
    width: 3.64rem;
    height: 3.19rem;
    margin-right: 0.74rem;
    float: right;
}